.button{
  display: inline-flex;
  border-radius: 10px;
  height: 60px;
  padding: 0 50px;
  align-items: center;
  justify-content: center;
  background-color: var(--success);
  color: var(--text-lightest);
  font-weight: 700;
  font-size: 20px;
  transition: filter ease-in-out 0.15s;

  &:hover{
    filter: brightness(90%);
  }
  &:focus-visible{
    outline: 2px solid black;
  }
}