.productCard{
  padding: 25px;
  padding-top: 38px;

  &.errorPage{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 20px;
  }
  .pageTitle{
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 2.5px;
    color: var(--text-darker);
    margin-bottom: 30px;
  }

  .detailsContainer{
    width: 100%;
    color: var(--text-darker);
    

    .table{
      width: 100%;
      font-size: 18px;
      
      td{
        vertical-align: top;
        padding-bottom: 10px;
      }

      .title{
        width: 200px;
        text-transform: capitalize;
      }

      .row{
        height: 40px;
      }
    }

    .image{
      height: 200px;
      aspect-ratio: 1/1;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}