@import '@/component/style/config.module.scss';

.title{
  font-size: 17px;
  font-weight: 600;
  color:var(--text-darker)
}
.cardHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 26px;
}

.statisticTable{
  width: 100%;  
  padding: 20px 26px;
  padding-bottom: 40px;


  .tableContainer{
    min-height: 430px;
  }
}

.wrapper{
  width: 100%;
  max-width: var(--max-width);
}

.topSalesCard{
  width: 100%;
  margin-top: 32px;

  .saleTable{
    width: 100%;
    color: var(--text-dark);
    font-weight: 500;

    .entry{
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 15px 26px;

      &.line{
        padding: 0px 26px;
        hr{
          width: 100%;
        }
      }
    }
    
  }

  @media screen and (min-width: $br-small) {
    max-width: 381px;
    margin-top: 35px;
  }
}