.statisticTable{
  width: 100%;  
  padding: 15px;
  padding-bottom: 40px;

  .title{
    font-size: 17px;
    font-weight: 600;
  }

  .tableContainer{
    min-height: 430px;
  }
}

.wrapper{
  width: 100%;
  max-width: var(--max-width);
}