.adminCard{
  background: var(--light);
  border-radius: 14px;
  box-shadow: 1.8955752849578857px 3.7911505699157715px 6.6345133781433105px 4.738938331604004px rgba(239, 239, 239, 0.25), 
              1.8955752849578857px 3.7911505699157715px 9.477876663208008px 1.8955752849578857px rgba(167, 167, 167, 0.09);

  hr{
    border: none;
    border-bottom: solid 2px #F2F7FB; 
  }
}