@import '@/component/style/config.module.scss';

.title{
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 2.5px;
  color: var(--text-darker);
  margin-bottom: 30px;
}

.wrapper{

  .imageUploadContainer{
    position: inherit;
    width: 100%;
  }
}

@media screen and (min-width: $br-small) {
  .title{
    font-size: 41px;
    font-weight: 700;
    letter-spacing: 3px;
    color: var(--text-darker);
  }
  .wrapper{

    .imageUploadContainer{
      position: fixed;
      width: 324px;
      height: calc(100% - $header-desktop-height);
      background: var(--ligther);
      right: 0;
      top: calc(0px + $header-desktop-height);
      display: flex;
    }
  }
}